/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: white;
}

body {
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    background-color: #130b0e
}

.flex {
    display: flex;
}

.interface img {
    max-width: 300px;
}

header {
    padding: 10px 4%;
    background-color: #130b0e;
}

header > .interface {
    
    display: flex;
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal */
    align-items: center; /* Alinha os itens verticalmente */
}


header a {
    
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    background-color: #130b0e
}

header a:hover {
    color: #008cff;
    transform: scale(1.05);
    background-color: #130b0e
}

header nav ul {
    list-style-type: none ;
    background-color: #130b0e

}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    text-decoration: none; background-color: #130b0e
    
}
